<h1>Orders list</h1>
@using Al_Baraka.Models;
@model IEnumerable<IGrouping<int, Order>>

<table class="table table-bordered table-hover">
    <tr>
        <th style="padding:2px;width:60px">Id клиента(и логин)</th>
        <th style="padding:2px;width:80px">Дата і час додавання товару у корзину</th>
        <th style="padding:2px;width:40px">Id товару</th>
        <th style="padding:2px">Назва товару</th>
        <th style="padding:2px;width:105px">Фото</th>
        <th style="padding:2px;width:75px">Кількість одиниць</th>
        <th style="padding:2px;width:60px">Ціна в момент додавання товара у корзину</th>
        <th style="padding:2px;width:60px">Сумма</th>
        <th></th>
    </tr>
    <tbody>

        @foreach (IGrouping<int, Order> group in Model)
        {
            int totalsum = 0;
            int i = 0;
            string strnote="NONE";
            string contact = "NONE";
            foreach (Order order in group)
            {
                int sum = order.Price * order.Quantity;
                totalsum += sum;
                var base64 = Convert.ToBase64String(order.ProductItem.Image);
                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                <tr>
                    <td style="padding:2px">@order.UserId </td>
                    <td style="padding:2px">@order.TimeOfBye</td>
                    <td style="padding:2px">@order.ProductId</td>
                    <td style="padding:2px">@order.ProductItem.Name</td>
                    <td style="padding:2px"><img src="@imgSrc" alt="" width="100px" /></td>
                    <td style="padding:2px">
                        <form asp-controller="Home" asp-action="OrderChangeQuantityAsync" method="get">
                            <input type="text" id="quantity" name="quantity" rows="1" style="width:50px" value="@order.Quantity">
                            <input type="hidden" id="idproduct" name="idproduct" value="@order.ProductId" />
                            <input type="hidden" id="iduser" name="iduser" value="@order.UserId" />
                            <br />
                            <button type="submit">Зберегти</button>
                        </form>
                    </td>
                    <td style="padding:2px">@order.Price</td>
                    <td style="padding:2px">@sum</td>
                    <td style="padding:2px"><a asp-area="" asp-controller="Home" asp-action="OrderDelete" asp-route-idOrder="@order.Id">Видалити</a></td>

                    @if (i == 0)
                    {
                        contact = order.Contact;
                        strnote = order.Note;
                        i = order.UserId;
                    }
                </tr>

            }
            <tr>
                <td style="padding:2px;text-align:center" colspan="3"><a asp-area="" asp-controller="Home" asp-action="CloseAndDeleteOrder" asp-route-idClient="@i"><br />Закрити та видалити заказ</a></td>
                <td style="padding:2px;text-align:center"><br />@contact</td>
                <td style="padding:2px;text-align:center">Загальна сумма: <div style="color:red;font-weight:700">@totalsum</div></td>
                <td style="padding:2px" colspan="5">
                    <form asp-controller="Home" asp-action="OrderNote" method="get">
                        <textarea type="text" id="note" name="note" rows="2">@strnote</textarea>
                        
                        <input type="hidden" id="iduser" name="iduser" value="@i" />
                        <br />
                        <button type="submit">Зберегти</button>
                    </form>
                </td>
            </tr>
            i = 0;
            <tr><td style="background:darkolivegreen" colspan="10"></td></tr>
        }

    </tbody>
</table>